@media screen and (max-width: 1211px) {
	#restaurants-list li {
		width: 23%;
	}
}


@media screen and (max-width: 1150px) {
	#reviews-container {
	    padding: 30px 15px 0px;
	}

	#restaurant-container {
		padding: 140px 15px 0px;
	}

	#breadcrumb {
		padding: 10px 15px 0px;
	}

	#restaurants-list li {
		width: 35%;
	}
}

@media screen and (max-width: 850px) {
	#reviews-container {
	    padding: 30px 0px 0px;
	}

	#restaurant-container {
		padding: 140px 0px 0px;
	}

	#breadcrumb {
		padding: 10px 0px 0px;
		font-size: 8pt;
	}

	.inside #footer {
		font-size: 8px;
	}

	#restaurant-name {
		font-size: 15pt;
	}

	#restaurants-list p {
		font-size: 9pt;
	}

	#restaurants-list h1 {
		font-size: 11pt;
	}
}

@media screen and (max-width: 700px) {
	#restaurants-list li {
		width: 90%;
	}
	#restaurants-list p {
		font-size: 11pt;
	}

	#restaurants-list h1 {
		font-size: 14pt;
	}
}

@media screen and (max-width: 550px) {
	#reviews-container {
		width: 43%;
	}

	#reviews-list p {
		font-size: 14pt;
	}

	#restaurant-hours tr td {
		font-size: 14pt;
	}

	#restaurant-cusine {
		margin: 0;
	}
	#footer {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}













